body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    height: 60px;
    align-items: center;
}

.navbar-1{
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-1 h1:hover{
    cursor: pointer;
}

.navbar-1 img{
    width: 40px;
    height: 40px;
}

.navbar-2{
    display: flex;
    gap: 20px;
    font-weight: bolder;
}

.navbar-2 p{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
}

.navbar-2 p:hover{
    background-color: rgb(240, 236, 236);
    cursor: pointer;
}

.navbar-3{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-3 img{
    width: 20px;
    height:20px;
}

.navbar-3-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 0px;
} 

.navbar-3-1:hover{
    background-color: rgb(240, 236, 236);
    cursor: pointer;
    border-radius: 20px;
}

.navbar-3 button{
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 20px;
    padding: 15px;
}

.navbar-3 button:hover{
    background-color: gray;
    border: transparent;
    cursor: pointer;
}



























