body{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.navbar{
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
    font-size: smaller;
    margin-left: 50px;
    height: 50px;
}

.navbar-1 img{
    width: 40px;
    margin-top: 0px;
    position: relative;
    right: 380px;
}

.navbar-1 h1{
    position: relative;
    bottom: 55px;
    right: 340px;
}

.navbar-2 {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: bolder;
}

.navbar-3{
    display: flex;
    justify-content: center;
    width: 20px;
}

.navbar-3 img{
    width: 20px;

}