body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    height: 60px;
    align-items: center;
}

.navbar-1{
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-1 h1:hover{
    cursor: pointer;
}

.navbar-1 img{
    width: 40px;
    height: 40px;
}

.navbar-2{
    display: flex;
    gap: 20px;
    font-weight: bolder;
}

.navbar-2 p{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px;
}

.navbar-2 p:hover{
    background-color: rgb(240, 236, 236);
    cursor: pointer;
}

.navbar-3{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-3 img{
    width: 20px;
    height:20px;
}

.navbar-3-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 0px;
} 

.navbar-3-1:hover{
    background-color: rgb(240, 236, 236);
    cursor: pointer;
    border-radius: 20px;
}

.navbar-3 button{
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 20px;
    padding: 15px;
}

.navbar-3 button:hover{
    background-color: gray;
    border: transparent;
    cursor: pointer;
}

.where{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
}

.search{
    display:grid;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.search-1{
    display: flex;
    gap: 75px;
}

.search-2{
    display: flex;
    justify-content: center;
}

.search-2 img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 270px;  
    top: 80px; 
}

.search-2 input{
    width:800px;
    padding: 20px;
    border-radius: 40px;
    
}

.search-2 button{
    height: 45px;
    font-size: medium;
    padding: 10px;
    background-color: rgb(20, 218, 158);
    border-radius:30px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    position: absolute;
    right: 260px; 
    top: 72px;   
}

.search-2 button:hover{
    cursor: pointer;
}

.first img{
    margin-left: 100px;
    margin-right: 100px;
    height: 455px;
    margin-top: 60px;
    position: relative;
}

.box{
    border: 1px solid transparent;
    width: 450px;
    position: absolute;
    top: 400px;
    left: 250px;
    display: grid;
}

.box-1{
    display: flex;
    align-items: center;
    gap: 8px;
}

.box-1 p{
    color: white;
}

.box-3 h1{
    color: white;
    
}

.box-4 h2{
    color: white;
}

.box-2 p{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
}

.box-5{
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid transparent;
    background-color: azure;
    width: 80px;
    justify-content: center;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-5 img{
    width: 20px;
    height: 20px;
}

.box-5:hover{
    background-color: rgb(197, 158, 235);
    cursor: pointer;
}

.treat{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.treat h2{
    margin-bottom: 5px;
}

.treat p{
    margin-top: 8px;
}

.total {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 20px;
}

.total img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.food1 h2{
    position: relative;
    bottom: 70px;
    left: 20px;
    color: black 
}

.food2 h2{
    position: relative;
    bottom: 70px;
    left: 20px;
    font-style: bolder;
}

.food3 h2{
    position: relative;
    bottom: 70px;
    left: 20px;
    font-style: bolder;
}

.food4 h2{
    position: relative;
    bottom: 70px;
    left: 20px;
    font-style: bolder;
}

.travel{
    margin-left: 100px;
}

.travel h2{
    margin-bottom: 5px;
}

.travel p{
    margin-top: 8px;
}

.creators{
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    gap: 20px;
    justify-content: center;
}   

.creators-1 p{
    text-align: center;
}

.creators-2 p{
    text-align: center;
}

.creators-3 p{
    text-align: center;
}

.creators-1 img{
    width: 365px;
    height: 250px;
    border-radius: 10px;
}

.creators-2 img{    
    width: 365px;
    height: 250px;
    border-radius: 10px
}

.creators-3 img{
    width: 365px;
    height: 250px;
    border-radius: 10px
}

.creatorsc-1 img{ 
    width: 365px;
    height: 250px;
    border-radius: 10px;
}

.creatorsc-2 img{
    width: 365px;
    height: 250px;
    border-radius: 10px;
}

.creatorsc-3 img{
    width: 365px;
    height: 250px;
    border-radius: 10px;
}

.experience{
    margin-left: 100px;
    margin-right: 100px;
}

.experience h2 {
    margin-bottom: 5px;
}

.experience p {
    margin-top: 8px;
}

.sector{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.sector img {
    width: 275px;
    height: 270px;
    border-radius: 10px;
}

.newsel{
    display: flex;
    /* gap: 5px; */
    margin-left: 100px;
    margin-right: 100px;
}

.seller{
    margin-bottom: 15px;
}

.aaaa p{
    border: 1px solid black;
    font-size: smaller;
    font-weight: bolder;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}

.aaaa1{
    width: 245px;
}

.bbbb{
    margin-left: 45px;
    width: 250px;
}

.bbbb1{
    margin-left: 45px;
}

.cccc{
    width: 250px;
    margin-left: 45px;
}

.cccc1{
    margin-left: 45px;
}

.dddd{
    width: 250px;
    margin-left: 40px;
}

.dddd1{
    margin-left: 40px;
}

.more{
    width: 100%;
    height: 500px;
    background-color: rgb(235, 235, 235)
}

.more1 h3{
    margin-left: 100px;
    position: relative;
    top: 50px;
}

.moreimg{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
}

.moreimg img{
    width: 370px;
    height: 250px;
    border-radius: 10px;
}

.comments{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.comments-1{
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desti-1{
    margin-left: 100px;
    margin-right: 100px;
    
}

.desti-1 h2{
    margin-bottom: 2px;
}

.desti-1 p{
    margin-top: 10px;
}

.destipic{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.destipic img{
    width: 275px;
    height: 270px;
    border-radius: 10px;
}

.ifet-1 h2{
    width: 275px;
    position: relative;
    bottom: 70px;
    color: white;
}

.ifet-2 h2{
    width: 275px;
    position: relative;
    bottom: 70px;
    color: white;
}

.ifet-3 h2{
    width: 275px;
    position: relative;
    bottom: 70px;
    color: white;
}

.ifet-4 h2{
    width: 275px;
    position: relative;
    bottom: 70px;
    color: white;
}

.bike{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(228, 232, 236);
    display: flex;
    gap: 20px;
}

.bikepic img{
    width: 500px;
    height: 550px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}   

.watch{
    display: grid;
    height: 20px;
    position: relative;
    top: 190px;
    left: 150px;
}

.abcd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    
}

.abcd img{
    width: 20px;
    height: 20px;
}

.watch-1 h1{
    margin-top: 5px;
    margin-bottom: 3px;
}

.watch-2{
    margin-top: 2px;
}

.watch-2 p{
    width: 320px;
    margin-top: 5px;
    text-align: center;
}

.but button{
    font-size: large;
    border-radius: 30px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: white;
    position: relative;
    left: 90px;
    border: transparent;
}
    








